<section>
    <a name="validators"></a>
    <div class="page-header">
        <h3>Built-in Validators</h3>
    </div>
    <table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>API</th>
            <th>Description</th>
            <th class="not-for-mobile">Demonstration</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td colspan="4">
                <a name="basic-constraints"></a>
                <h4>Basic constraints</h4>
            </td>
        </tr>

        <!-- Required -->
        <tr>
            <td>Required</td>
            <td>
                <code>data-required="true"</code><br/><br/>
                <code>class="required"</code><br/><br/>
                <span class="label label-info">HTML5</span><code>required="required"</code>
            </td>
            <td>Validate that a required field has been filled.</td>
            <td class="not-for-mobile">
                <table>
                    <tr>
                        <td>
                            <form id="form-required">
                                <input type="text" id="data-required" data-required="true" placeholder="required field" /><br/><br/>
                                <select id="select-required" data-required="true">
                                    <option value="">Please choose</option>
                                    <option value="foo">Foo</option>
                                    <option value="bar">Bar</option>
                                </select><br/>
                                Radio: <input type="radio" name="radiorequired" value="foo" id="radio-required" data-required="true"/>
                                <input type="radio" name="radiorequired" id="radio-required2" value="bar" />
                            </form>
                        </td>
                        <td>
                            <span class="btn btn-small" onclick="javascript:$('#form-required').checksley('validate');">
                                <i class="icon-ok"></i>
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- Notblank -->
        <tr>
            <td>Not Blank</td>
            <td>
                <code>data-notblank="true"</code>
            </td>
            <td>Validates that a value is not blank, defined as not equal to a blank string.</td>
            <td class="not-for-mobile">
                <table>
                    <tr>
                        <td>
                            <form>
                                <input type="text" id="data-notblank" data-notblank="true" placeholder="not blank field" />
                            </form>
                        </td>
                        <td>
                            <span class="btn btn-small" onclick="javascript:$('#data-notblank').checksley('validate');">
                                <i class="icon-ok"></i>
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- Minlength -->
        <tr>
            <td>Min Length</td>
            <td>
                <code>data-minlength="6"</code>
            </td>
            <td>Validates that the length of a string is at least as long as the given limit.</td>
            <td class="not-for-mobile">
                <table>
                    <tr>
                        <td>
                            <form>
                                <input type="text" id="data-minlength" data-minlength="6" placeholder="minlength = 6" />
                            </form>
                        </td>
                        <td>
                            <span class="btn btn-small" onclick="javascript:$('#data-minlength').checksley('validate');">
                                <i class="icon-ok"></i>
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- MaxLength -->
        <tr>
            <td>Max Length</td>
            <td>
                <code>data-maxlength="6"</code>
            </td>
            <td>Validates that the length of a string is not larger than the given limit.</td>
            <td class="not-for-mobile">
                <table>
                    <tr>
                        <td>
                            <form>
                                <input type="text" id="data-maxlength" data-maxlength="6" placeholder="maxlength = 6" />
                            </form>
                        </td>
                        <td>
                            <span class="btn btn-small" onclick="javascript:$('#data-maxlength').checksley('validate');">
                                <i class="icon-ok"></i>
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- RangeLength -->
        <tr>
            <td>Range Length</td>
            <td>
                <code>data-rangelength="[5,10]"</code>
            </td>
            <td>Validates that a given string length is between some minimum and maximum value.</td>
            <td class="not-for-mobile">
                <table>
                    <tr>
                        <td>
                            <form>
                                <input type="text" id="data-rangelength" data-rangelength="[5,10]" placeholder="rangelength = [5,10]" />
                            </form>
                        </td>
                        <td>
                            <span class="btn btn-small" onclick="javascript:$('#data-rangelength').checksley('validate');">
                                <i class="icon-ok"></i>
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- Min -->
        <tr>
            <td>Min</td>
            <td>
                <code>data-min="6"</code><br/><br/>
                <span class="label label-info">HTML5</span><code>type="number" min="6"</code>
            </td>
            <td>Validates that a given number is greater than some minimum number.</td>
            <td class="not-for-mobile">
                <table>
                    <tr>
                        <td>
                            <form>
                                <input type="text" id="data-minimum" data-min="6" placeholder="min = 6" />
                            </form>
                        </td>
                        <td>
                            <span class="btn btn-small" onclick="javascript:$('#data-minimum').checksley('validate');">
                                <i class="icon-ok"></i>
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- Max -->
        <tr>
            <td>Max</td>
            <td>
                <code>data-max="100"</code><br/><br/>
                <span class="label label-info">HTML5</span><code>type="number" max="100"</code>
            </td>
            <td>Validates that a given number is less than some maximum number.</td>
            <td class="not-for-mobile">
                <table>
                    <tr>
                        <td>
                            <form>
                                <input type="text" id="data-maximum" data-max="100" placeholder="max = 100" />
                            </form>
                        </td>
                        <td>
                            <span class="btn btn-small" onclick="javascript:$('#data-maximum').checksley('validate');">
                                <i class="icon-ok"></i>
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- Range -->
        <tr>
            <td>Range</td>
            <td>
                <code>data-range="[6, 100]"</code><br/><br/>
                <span class="label label-info">HTML5</span><code>type="range" min="6" max="100"</code>
            </td>
            <td>Validates that a given number is between some minimum and maximum number.</td>
            <td class="not-for-mobile">
                <table>
                    <tr>
                        <td>
                            <form>
                                <input type="text" id="data-range" data-range="[6, 100]" placeholder="range = [6,100]" />
                            </form>
                        </td>
                        <td>
                            <span class="btn btn-small" onclick="javascript:$('#data-range').checksley('validate');">
                                <i class="icon-ok"></i>
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- RegExp -->
        <tr>
            <td>RegExp</td>
            <td>
                <code>{% filter e %}data-regexp="<regexp>"{% endfilter %}</code><br/><br/>
                <span class="label label-info">HTML5</span><code>pattern="regexp"</code>
            </td>
            <td>Validates that a value matches a specific regular expression. eg: validate a color hexadecimal code: <code>data-regexp="#[A-Fa-f0-9]{6}"</code>.<br/><br/>Add a flag to <code>Regexp()</code> function: <code>data-regexp-flag="i"</code> for example to make regexp case unsensitive</td>
            <td class="not-for-mobile">
                <table>
                    <tr>
                        <td>
                            <form>
                                <input type="text" id="data-regexp" data-regexp="#[A-Fa-f0-9]{6}" placeholder="hexa color code" />
                            </form>
                        </td>
                        <td>
                            <span class="btn btn-small" onclick="javascript:$('#data-regexp').checksley('validate');">
                                <i class="icon-ok"></i>
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- EqualTo -->
        <tr>
            <td>Equal To</td>
            <td>
                <code>data-equalto="#elem"</code>
            </td>
            <td>Validates that a value is identical to #elem value. Useful for password repeat validation.</td>
            <td class="not-for-mobile">
                <table>
                    <tr>
                        <td>
                            <form>
                                <input type="text" id="eqalToModel" data-equalTo="#eqalToModel" value="foo" />
                                <input type="text" id="data-equalto" data-equalTo="#eqalToModel" placeholder="equal to foo" />
                            </form>
                        </td>
                        <td>
                            <span class="btn btn-small" onclick="javascript:$('#data-equalto').checksley('validate');">
                                <i class="icon-ok"></i>
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- minChecked -->
        <tr>
            <td>Min check</td>
            <td>
                <code>data-mincheck="2"</code>
            </td>
            <td>Validates that a certain minimum number of checkboxes in a group are checked. You can define a group by giving the same name to radio / checkboxes elements or add a <code>data-group="mygroup"</code> property to each one of them</td>
            <td class="not-for-mobile">
                <table>
                    <tr>
                        <td>
                            <small>Check at least 2 checkboxes:</small>
                            <form>
                                <input type="checkbox" id="mincheck" name="mincheck[]" data-mincheck="2" value="foo" />
                                <input type="checkbox" name="mincheck[]" value="bar" />
                                <input type="checkbox" name="mincheck[]" value="baz" />
                            </form>
                        </td>
                        <td>
                            <span class="btn btn-small" onclick="javascript:$('#mincheck').checksley( 'validate' );">
                                <i class="icon-ok"></i>
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- maxChecked -->
        <tr>
            <td>Max check</td>
            <td>
                <code>data-maxcheck="2"</code>
            </td>
            <td>Validates that a certain maximum number of checkboxes in a group are checked. You can define a group by giving the same name to radio / checkboxes elements or add a <code>data-group="mygroup"</code> property to each one of them</td>
            <td class="not-for-mobile">
                <table>
                    <tr>
                        <td>
                            <small>Check 2 checkboxes maximum:</small>
                            <form>
                                <input type="checkbox" id="maxcheck" name="maxcheck[]" data-maxcheck="2" value="foo" />
                                <input type="checkbox" name="maxcheck[]" value="bar" />
                                <input type="checkbox" name="maxcheck[]" value="baz" />
                            </form>
                        </td>
                        <td>
                            <span class="btn btn-small" onclick="javascript:$('#maxcheck').checksley( 'validate' );">
                                <i class="icon-ok"></i>
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- rangeChecked -->
        <tr>
            <td>Range check</td>
            <td>
                <code>data-rangecheck="[1,2]"</code>
            </td>
            <td>Validates that the number of checked checkboxes in a group is with a certain range. You can define a group by giving the same name to radio / checkboxes elements or add a <code>data-group="mygroup"</code> property to each one of them</td>
            <td class="not-for-mobile">
                <table>
                    <tr>
                        <td>
                            <small>Check b/w 1&amp;2 checkboxes:</small>
                            <form>
                                <span>
                                    <input type="checkbox" id="rangecheck" name="rangecheck[]" data-rangecheck="[1,2]" value="foo" />
                                    <input type="checkbox" name="rangecheck[]" value="bar" />
                                    <input type="checkbox" name="rangecheck[]" value="baz" />
                                </span>
                            </form>
                        </td>
                        <td>
                            <span class="btn btn-small" onclick="javascript:$('#rangecheck').checksley( 'validate' );">
                                <i class="icon-ok"></i>
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- Remote -->
        <tr>
            <td>Remote (Ajax)</td>
            <td>
                <code>data-remote="http://yoururl.com"</code>
            </td>
            <td colspan="2"><strong>Custom ajax validation made simple.</strong><br/>
              <code>data-remote-method="POST"</code> to change default <code>GET</code> call.<br/>
              <code>data-remote-datatype="jsonp"</code> if you make cross domain ajax call and expect <code>jsonp</code><br/>
              Checksley will accept these valid returns with a 200 response code: <code>1</code>, <code>true</code>, <code>{ "success": "..." }</code> and assume false otherwise<br/>
              You can show frontend server-side specific error messages by returning <code>{ "error": "your custom message" }</code> or <code>{ "message": "your custom message" }</code>
            </td>
        </tr>

        <tr>
            <td colspan="4">
                <a name="type-constraints"></a>
                <h4>Type Constraints</h4>
            </td>
        </tr>

        <!-- Email -->
        <tr>
            <td>Email</td>
            <td>
                <code>data-type="email"</code><br/><br/>
                <span class="label label-info">HTML5</span><code>type="email"</code>
            </td>
            <td>Validates that a value is a valid email address.</td>
            <td class="not-for-mobile">
                <table>
                    <tr>
                        <td>
                            <form>
                                <input type="text" id="data-email" data-type="email" placeholder="email" />
                            </form>
                        </td>
                        <td>
                            <span class="btn btn-small" onclick="javascript:$('#data-email').checksley('validate');">
                                <i class="icon-ok"></i>
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- Url -->
        <tr>
            <td>Url</td>
            <td>
                <code>data-type="url"</code>
                <code>type="url"</code>
            </td>
            <td>Validates that a value is a valid url.</td>
            <td class="not-for-mobile">
                <table>
                    <tr>
                        <td>
                            <form>
                                <input type="text" id="data-url" data-type="url" placeholder="url" />
                            </form>
                        </td>
                        <td>
                            <span class="btn btn-small" onclick="javascript:$('#data-url').checksley('validate');">
                                <i class="icon-ok"></i>
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- Url Strict -->
        <tr>
            <td>Url strict</td>
            <td>
                <code>data-type="urlstrict"</code>
            </td>
            <td>Validates that a value is a valid strict URL, ie: with one of <code>http</code>, <code>https</code>, <code>ftp</code>, <code>git</code> allowed protocols.</td>
            <td class="not-for-mobile">
                <table>
                    <tr>
                        <td>
                            <form>
                                <input type="text" id="data-url-strict" data-type="urlstrict" placeholder="urlstrict" />
                            </form>
                        </td>
                        <td>
                            <span class="btn btn-small" onclick="javascript:$('#data-url-strict').checksley('validate');">
                                <i class="icon-ok"></i>
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- Digits -->
        <tr>
            <td>Digits</td>
            <td>
                <code>data-type="digits"</code>
            </td>
            <td>Validates that a value is only digits.</td>
            <td class="not-for-mobile">
                <table>
                    <tr>
                        <td>
                            <form>
                                <input type="text" id="data-digits" data-type="digits" placeholder="digits" />
                            </form>
                        </td>
                        <td>
                            <span class="btn btn-small" onclick="javascript:$('#data-digits').checksley('validate');">
                                <i class="icon-ok"></i>
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- Number -->
        <tr>
            <td>Number</td>
            <td>
                <code>data-type="number"</code><br/><br/>
                <span class="label label-info">HTML5</span><code>type="number"</code>
            </td>
            <td>Validates that a value is a valid number.</td>
            <td class="not-for-mobile">
                <table>
                    <tr>
                        <td>
                            <form>
                                <input type="text" id="data-number" data-type="number" placeholder="number" />
                            </form>
                        </td>
                        <td>
                            <span class="btn btn-small" onclick="javascript:$('#data-number').checksley('validate');">
                                <i class="icon-ok"></i>
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- Alphanum -->
        <tr>
            <td>Alphanum</td>
            <td>
                <code>data-type="alphanum"</code>
            </td>
            <td>Validates that a value is a valid alphanumeric string.</td>
            <td class="not-for-mobile">
                <table>
                    <tr>
                        <td>
                            <form>
                                <input type="text" id="data-alphanum" data-type="alphanum" placeholder="alphanumeric string" />
                            </form>
                        </td>
                        <td>
                            <span class="btn btn-small" onclick="javascript:$('#data-alphanum').checksley('validate');">
                                <i class="icon-ok"></i>
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- DateIso -->
        <tr>
            <td>Date Iso</td>
            <td>
                <code>data-type="dateIso"</code>
            </td>
            <td>Validates that a value is a valid ISO date.</td>
            <td class="not-for-mobile">
                <table>
                    <tr>
                        <td>
                            <form>
                                <input type="text" id="data-dateIso" data-type="dateIso" placeholder="YYYY-MM-DD" />
                            </form>
                        </td>
                        <td>
                            <span class="btn btn-small" onclick="javascript:$('#data-dateIso').checksley('validate');">
                                <i class="icon-ok"></i>
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- Phone -->
        <tr>
            <td>Phone</td>
            <td>
                <code>data-type="phone"</code>
            </td>
            <td>Validates that a value is a valid phone number.</td>
            <td class="not-for-mobile">
                <table>
                    <tr>
                        <td>
                            <form>
                                <input type="text" id="data-phone" data-type="phone" placeholder="(XXX) XXXX XXX" />
                            </form>
                        </td>
                        <td>
                            <span class="btn btn-small" onclick="javascript:$('#data-phone').checksley('validate');">
                                <i class="icon-ok"></i>
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    </tbody>
</table>

<a name="extra-constraints"></a>
<h4>Extra Validators</h4>
<p>
    There are some extra validators, not shipped along with default Checksley, because they're more specific and less common, and there is no need to add weight to Checksley instead of calling these validators only when needed. Just call <code>checksley.extend.js</code> or <code>checksley.extend.min.js</code> like this:
<pre><code>{% filter e %}<script type="text/javascript" src="checksley.extend.es.js"></script>
<script type="text/javascript" src="checksley.js"></script>{% endfilter %}</code></pre>
    Please, feel free to <a href="http://github.com/jespino/checksley">fork and contribute</a> by adding some useful validators!
</p>
<br/>

<h5>Here is the list of checksley.extra validators</h5>
<table class="table table-striped table-bordered table-hover">
  <thead>
      <tr>
          <th>Name</th>
          <th>Api</th>
          <th>Description</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>Min Words</td>
          <td><code>data-minwords="6"</code></td>
          <td>Validate that a field has at least 6 words.</td>
      </tr>
      <tr>
        <td>Max Words</td>
        <td><code>data-maxwords="6"</code></td>
        <td>Validate that a field has 6 words maximum.</td>
      </tr>
      <tr>
        <td>Range Words</td>
        <td><code>data-rangewords="[6,10]"</code></td>
        <td>Validate that a field has between 6 and 10 words.</td>
      </tr>
      <tr>
        <td>Greater Than</td>
        <td><code>data-greaterthan="#elem"</code></td>
        <td>Validate that a field's value is greater than #elem's value.</td>
      </tr>
      <tr>
        <td>Less Than</td>
        <td><code>data-lessthan="#elem"</code></td>
        <td>Validate that a field's value is lower than #elem's value.</td>
      </tr>
      <tr>
        <td>Before date</td>
        <td><code>data-beforedate="#elem"</code></td>
        <td>Validate that a field's date is before #elem's date.</td>
      </tr>
      <tr>
        <td>After date</td>
        <td><code>data-afterdate="#elem"</code></td>
        <td>Validate that a field's date is after #elem's date.</td>
      </tr>
      <tr>
        <td>In list</td>
        <td><code>data-inlist="foo, bar, foo bar"</code></td>
        <td>
          Validates that a field's value is present within the value list. You can define the delimiter using <code>data-inlist-delimiter=","</code>. Delimiter defaults to <code>","</code>.
        </td>
      </tr>
      <tr>
        <td>Luhn</td>
        <td><code>data-luhn="true"</code></td>
        <td>
          Validates that a fields value passes the Luhn algorithm. Validates credit card numbers, as well as some other kinds of account numbers.
        </td>
      </tr>
      <tr>
        <td>American Date</td>
        <td><code>data-americandate="true"</code></td>
        <td>
          Validates that a value is a valid American Date. Allows for slash, dot and hyphen delimiters and condensed dates (e.g., M/D/YY MM.DD.YYYY MM-DD-YY).
        </td>
      </tr>
  </tbody>
</table>

</section>
<a href="#top" class="top pull-right">Top</a>

