<section>
  <a name="installation"></a>
  <h3>Checksley Installation</h3>
  <p>Just include the <a href="https://github.com/jespino/checksley/blob/master/dist/checksley.min.js">checksley</a> file (with <a href="http://jquery.com/">jQuery</a> or <a href="http://zeptojs.com/">Zepto</a> with <strong><a href="https://github.com/madrobby/zepto#building">data and fx_methods modules</a></strong> added) or use <a href="https://github.com/jespino/checksley/blob/master/dist/checksley-standalone.min.js">Checksley standalone</a> (with Zepto bundled inside)</p>
<pre><code>{% filter e %}<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="checksley.js"></script>{% endfilter %}
</code></pre>
</section>
<a href="#top" class="top pull-right">Top</a>
