<section>
    <a name="plugins-and-localization"></a>
    <div class="page-header">
        <h3>Checksley Plugins &amp; Localization</h3>
        <p>Checksley is shipped with localization (i18n) for its failure messages, and with extra, advanced validators, not included in checksley by default. Learn how to use them here.</p>
    </div>
    <h4>Localizations</h4>
    <p>
        <a href="https://github.com/jespino/checksley/tree/master/i18n">Here are Checksleys error messages in various supported languages</a>. To use one of these, just call the desired language file. Eg: for French messages:
<pre><code>{% filter e %}<script type="text/javascript" src="i18n/messages.es.js"></script>
<script type="text/javascript" src="checksley.js"></script>{% endfilter %}</code></pre>
        Please, feel free to <a href="http://github.com/jespino/checksley">fork and contribute</a> by adding your own translations messages in your language!
    </p>
    <br/>
</section>
<a href="#top" class="top pull-right">Top</a>
